<html ng-app="cardsApp">
	<head>
		<meta charset="utf-8">
		<title>Three Amigos!</title>
		<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/app.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400' rel='stylesheet' type='text/css'>

		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


		<script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/static/bower_components/angular/angular.js"></script>
		<script src="/static/bower_components/angular-route/angular-route.js"></script>
		<script src="/static/js/controllers.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/directives.js"></script>
		<script src="/static/js/services.js"></script>
								
	</head>
	<body>

		<div ng-view></div>

</body>
</html>
