/* app css stylesheet */

* {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
}

body {
}

button {
	color: black;
}

#title {
	font-size: 80px;
	text-align: center;
}

.spacer {
	clear: both;
}

#menu_bar, #control_bar {
	/*background-color: #00A818;*/
	background-color: #999;
	padding: 5px;
	color: white;
}
#menu_bar #username {
	float: right;
}
#logout {
	float: right;
}

#content {
	padding-left: 40px;
}

.card {
	position: absolute;
	background-color: rgb(168,168,168);
	cursor: -webkit-grab;
	cursor: -moz-grab;
	border-radius: 10px;
	box-shadow: 2px 10px 20px #aaa;
}

.card:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

textarea {
	margin-top: 20px;
	resize: none;
	height:150px;
	width:200px;
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 5px;
	border: none;
}

#control_bar {
	position: fixed;
	bottom: 0px;
	padding: 10px;
	width: 100%;
}

#control_bar input {
	padding: 5px;
}
#control_bar button {
	padding: 5px;
	width: 80px;
	color: black;
}
#control_bar #add_session {
	width: 150px;
}
#control_bar button.delete {
	float: right;
	width: 150px;
}
#control_bar .tip {
	color: white;
	font-style: italic;
	margin-left: 150px;
	padding: 5px;
}

.story {
	background-color: rgb(255, 255, 111);
}

.rule {
	background-color: rgb(179, 209, 255);
}

.question {
	background-color: rgb(255, 139, 139);
}

.example {
	background-color: rgb(155, 255, 148);
}


#new_session_name {
	width: 400px;
}

