/* app css stylesheet */

* {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	color: #444;
}

h1 {
	color: #444;
}

body {
	background-color: rgb(255,2255,220);
}
form {
	margin: 0;
}

h1#session_name {
	display: inline;
}
#back_to_sessions {
	background: none;
	border: none;
	text-decoration: underline;
	display: inline;
	padding: 0;
}
#back_to_sessions:hover {
	color: green;
	cursor: pointer;
}

#login_container {
	margin-top: 50px;
}

#header {
	z-index:-1;
}

#login_header #title {
	font-size: 80px;
	text-align: center;
}

.spacer {
	clear: both;
}

#menu_controls {
	position: fixed;
	top: 5px;
	right: 5px;
}
#menu_controls img {
	float:right;
	border-radius: 50%;
	margin-right: 20px;
}
#menu_controls #username {
	float: right;
	margin-right: 20px;
	padding-top: 15px;
}
#menu_controls #logout {
	float: right;
	margin-top: 10px;
}

#content {
	padding-left: 40px;
	margin-top: 20px;
}


#sign_in_button {
	margin: 50px auto;
	display: block;
	width: 191px;
	height: 46px;
	background-repeat: no-repeat;
	background-image: url('/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png');
}

/*
 * Cards need to appear above everything.
 */
#cards {
	z-index: 10000;
}
.card {
	position: absolute;
	background-color: rgb(168,168,168);
	cursor: -webkit-grab;
	cursor: -moz-grab;
	border-radius: 10px;
	box-shadow: 2px 10px 20px #aaa;
}

.card:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

textarea {
	margin-top: 20px;
	resize: none;
	height:150px;
	width:200px;
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 5px;
	border: none;
}

div.sessions {
	margin-top: 30px;
}
div.sessions h2 {
	font-size: 20px;
	color: darkgoldenrod;
}

#new_session_control_bar {
	position: fixed;
	bottom: 0px;
	padding: 10px;
	width: 100%;
}
#control_bar {
	position: fixed;
	bottom: 0px;
	padding: 50px 10px 5px 10px;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,1));
	background-repeat: no-repeat;
}

#control_bar input {
	padding: 5px;
}
#control_bar button {
	padding: 10px;
	width: 80px;
	box-shadow: 2px 2px 10px #666;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}
#control_bar #add_session {
	width: 150px;
}
#control_bar button.delete {
	float: right;
	width: 150px;
}
#control_bar .tip {
	font-style: italic;
	margin-left: 150px;
	padding: 5px;
}

.story {
	background-color: rgb(255, 255, 111);
}

.rule {
	background-color: rgb(179, 209, 255);
}

.question {
	background-color: rgb(255, 139, 139);
}

.example {
	background-color: rgb(155, 255, 148);
}


#new_session_name {
	width: 400px;
}


/*
 * Participants list
 */
#participants {
	float: left;
	margin-left: 40px;
}

#participants li {
	float: left;
	margin-right: 5px;
}

#participants img {
	border-radius: 50%;
	box-shadow: 0px 0px 10px yellowgreen;
	border: 2px solid yellowgreen;
}
#participants #pending_participants img {
	opacity: 0.2;
}
#participants span {
	display: none;
}

#participants .participant {
	position: relative;
}
#participants .participant .approval_popup {
	position: absolute;
	top: -80px;
}
#participants .participant .disconnected {
	opacity: 0.2;	
}

