<html ng-app="cardsApp">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Scratchcard is a free collaboration tool that enables development teams to run example mapping sessions remotely.  Invite product owners, developers and testers to join a session, and discover those hidden business rules now!">
		<meta name="keywords" content="BDD, cucumber, example mapping, behaviour driven development, deliberate discovery, exploration, real-time, collaboration">
		<title>Scratchcard</title>
		<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/app.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700,400' rel='stylesheet' type='text/css'>

		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/static/bower_components/angular/angular.js"></script>
		<script src="/static/bower_components/angular-route/angular-route.js"></script>
		<script src="/static/js/controllers.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/directives.js"></script>
		<script src="/static/js/services.js"></script>
								
	</head>
	<body>
		<div id="login_header">
			<img src="/static/images/logo.svg" alt="scratchcard" id="logo"/>
			<p>Example mapping, for remote amigos.</p>
		</div>


		<div class="container">
		
			<% if (message && message.length > 0) { %>
			<div class="alert alert-danger" id="error_messages"><%= message %></div>
			<% } %>

			<div class="row">
				<a id="sign_in_button" href="/auth/google/<%= session_id %>"></a>
			</div>

			<div id="supporters">
				<div class="row">
					<p>Supported by</p>
				</div>
				<div class="row">
					<a href="https://www.browserstack.com/" target="_blank">
						<img width="300" src="/static/images/browserstack.png" />
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
