
<div id="content">
	<div id="header">
		<h1 id="session_name">{{session.name}}</h1>
	</div>
	<div id="cards">
		<div class="card" ng-repeat="card in session.cards" draggable x="card.x" y="card.y" ng-style="{top:card.y,left:card.x}" ng-dblclick="deleteCard(card, $event)">
			<textarea class="{{card.type}}" ng-change="updateText()" ng-blur="saveCard()" ng-model="card.text"></textarea>
		</div>
	</div>
</div>
<div id="control_bar">
	<button id="question" class="question" ng-click="addCard('question', $event)">Question</button>
	<button class="story" ng-click="addCard('story', $event)">Story</button>
	<button class="rule" ng-click="addCard('rule', $event)">Rule</button>
	<button class="example" ng-click="addCard('example', $event)">Example</button>
	
	<span class="tip">Tip: Hold 'Ctrl' and double-click a card to delete it!</span>

	<button class="delete" ng-click="deleteSession()">Delete Session</button>
</div>
