<div id="menu_bar">
	<div id="logout">
		<div id="username">{{user.username}}</div>
		<button id="logout" ng-click="logout()">Logout</button>
	</div>
	<div class="spacer"></div>
</div>


<div id="content">
	<div id="header">
		<h1>Three Amigo Sessions</h1>
	</div>
	<div class="session" ng-repeat="session in sessions" >
		<p><a id="session_{{session._id}}" href="#/sessions/{{session._id}}">{{session.name}}</a></p>
	</div>
</div>
<div id="control_bar">
	<input id="new_session_name" type="text" ng-model="new_session.name"/>
	<button id="add_session" ng-click="addSession()">New Session</button>
	
</div>
