<ng-include src="'/static/partials/menu.html'"></ng-include>

<div id="content">
	<div id="header">
		<h1>Three Amigo Sessions</h1>
	</div>
	<div class="session" ng-repeat="session in sessions" >
		<p><a id="session_{{session._id}}" href="#/sessions/{{session._id}}">{{session.name}}</a></p>
	</div>

	<div ng-if="participating_sessions.length > 0">
		<h2>Participating in...</h2>
		<div class="session" ng-repeat="participating_session in participating_sessions" >
			<p><a id="session_{{participating_session._id}}" href="#/sessions/{{participating_session._id}}">{{participating_session.name}}</a></p>
		</div>
	</div>
</div>
<div id="new_session_control_bar">
	<form class="form-inline">
		<input class="form-control" id="new_session_name" type="text" ng-model="new_session.name"/>
		<button class="btn btn-success" id="add_session" ng-click="addSession()">New Session</button>
	</form>
	
</div>
